<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Sudhamsh Reddy's Blog</h1>
    <style>
      * {
        background-color: darkgray;
        font-family: serif;
        
      }
      img {
        float: left;
      }
      h1{
        text-align:center;
        margin-bottom: black solid ;
      }
    </style>
    <p>
      <h3>
      Hi, Iam Sudhamsh Reddy and I love Programming. Iam blogging this because I
      just watched a movie named "THE SOCIAL NETWORK" and Mark Zukerberg did the
      same so just trying Iam just gonna add some stupid background with css and
      try to make it functional and do you know this a good typing practice for
      me, And this is still in my stupid local host iam searching for a free web
      hositing service let me search. Okay, let me add some background now and i
      will change this font!! so, now ive used flask to host it and i dont have
      anything to stop me hosting this server now.
      </h3>
    </p>
    <img src="images/pics.jpg" alt="johodfn" height="100px" />
  </body>
</html>
